 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/p.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 907px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 305px 291px 0 257px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 445px 0 466px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 210px 60px 317px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 366px;
    margin-right: 345px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 110px;
    margin-left: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 263px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-2 {
    width: 229px;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 56px 43px 56px 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 246px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
  }
} .u-section-2 {
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 22px 606px 0 -33px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 175px;
  margin: 8px auto 0 181px;
}

.u-section-2 .u-countdown-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 59px auto 60px 139px;
  padding: 20px 32px;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: Asap;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-2 .u-text-1 {
    width: 567px;
    margin-top: 70px;
    margin-right: 506px;
  }

  .u-section-2 .u-line-1 {
    height: 17px;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 306px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 55px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 5.625rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 112px;
    margin-right: 36px;
    margin-left: -36px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 29px;
    margin-left: 47px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 47px;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 1px 0 0;
}

.u-section-3 .u-image-1 {
  width: 592px;
  height: 153px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 153px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px 50px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 592px;
  height: 154px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 34px auto 23px 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 140px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 145px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 88px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 91px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 88px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: linear-gradient(to right, #f1c50e, #db545a);
}

.u-section-4 .u-sheet-1 {
  min-height: 529px;
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Aclonica;
  font-size: 1.875rem;
  margin: 59px 47px 0 67px;
}

.u-section-4 .u-video-1 {
  min-height: 442px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-video-1 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    min-height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-1 {
    min-height: 419px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-4 .u-video-1 {
    min-height: 264px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 402px;
}

.u-section-5 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 40px 0 55px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 188px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: url("images/reg.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 681px;
}

.u-section-6 .u-text-1 {
  font-family: Aclonica;
  margin: 257px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 203px;
  }
}.u-block-65b1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-65b1-3 {
  position: absolute;
  left: 0;
}

.u-block-65b1-4 {
  position: absolute;
  right: 0;
}

 .u-section-7-1 {
  background-image: url("images/ko.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 515px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 189px;
  }
}

 .u-section-7-2 {
  background-image: url("images/koi.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-7-3 {
  background-image: url("images/img.jpg");
  background-position: 50% 50%;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 603px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto auto;
  width: 696px;
  margin: 150px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 236px;
  grid-gap: 10px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-8 .u-shape-1 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-8 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/king.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 64px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 26px auto 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-8 .u-shape-2 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-8 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/amb.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 64px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-5 {
  margin: 26px auto 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-8 .u-shape-3 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-8 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/sab.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 64px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-8 .u-text-7 {
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 504px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 80px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 123px;
  }

  .u-section-8 .u-shape-2 {
    margin-left: 80px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 123px;
  }

  .u-section-8 .u-shape-3 {
    margin-left: 80px;
  }

  .u-section-8 .u-image-3 {
    margin-left: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 738px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 179px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 222px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-shape-2 {
    margin-left: 179px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 222px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-shape-3 {
    margin-left: 179px;
  }

  .u-section-8 .u-image-3 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 79px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 122px;
  }

  .u-section-8 .u-shape-2 {
    margin-left: 79px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 122px;
  }

  .u-section-8 .u-shape-3 {
    margin-left: 79px;
  }

  .u-section-8 .u-image-3 {
    margin-left: 122px;
  }
}