 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 1246px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px 476px 0 0;
}

.u-section-1 .u-list-1 {
  width: 919px;
  margin: 85px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 508px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 152px;
  height: 152px;
  margin: 0 134px 0 0;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  background-image: url("images/pratham.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 60px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -123px 0 0 267px;
}

.u-section-1 .u-text-3 {
  margin: 7px 0 0 267px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 14px 0 0 267px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 85px;
  min-height: 16px;
  width: 180px;
  min-width: 42px;
  margin: 14px auto 0 267px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-shape-2 {
  width: 152px;
  height: 152px;
  margin: 0 134px 0 0;
}

.u-section-1 .u-image-2 {
  width: 152px;
  height: 152px;
  background-image: url("images/king.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 60px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -123px 0 0 267px;
}

.u-section-1 .u-text-6 {
  margin: 7px 0 0 267px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 14px 0 0 267px;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 85px;
  min-height: 16px;
  width: 180px;
  min-width: 42px;
  margin: 14px auto 0 267px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  background-image: none;
}

.u-section-1 .u-list-2 {
  width: 919px;
  margin: 0 0 19px auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 508px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-shape-3 {
  width: 152px;
  height: 152px;
  margin: 0 134px 0 0;
}

.u-section-1 .u-image-3 {
  width: 152px;
  height: 152px;
  background-image: url("images/amb.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 60px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -123px 0 0 267px;
}

.u-section-1 .u-text-9 {
  margin: 18px 0 0 267px;
}

.u-section-1 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 14px 0 0 267px;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 85px;
  min-height: 16px;
  width: 180px;
  min-width: 42px;
  margin: 23px auto 0 267px;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-shape-4 {
  width: 152px;
  height: 152px;
  margin: 0 134px 0 0;
}

.u-section-1 .u-image-4 {
  width: 152px;
  height: 152px;
  background-image: url("images/sab.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 60px;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -123px 0 0 267px;
}

.u-section-1 .u-text-12 {
  margin: 18px 0 0 267px;
}

.u-section-1 .u-text-13 {
  font-weight: 300;
  font-style: normal;
  margin: 14px 0 0 267px;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 85px;
  min-height: 16px;
  width: 180px;
  min-width: 42px;
  margin: 23px auto 0 267px;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 56px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 999px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 73px;
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -29px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 73px;
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 68px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 68px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 72px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 72px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1973px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 144px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 18px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -56px;
    margin-left: 76px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 27px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 144px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 34px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: 18px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -56px;
    margin-left: 76px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 27px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: -34px;
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 758px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 144px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 14px;
    margin-right: -115px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 10px;
    margin-right: -50px;
    margin-left: 70px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 17px;
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 144px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 14px;
    margin-right: -115px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 10px;
    margin-right: -50px;
    margin-left: 70px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-top: 17px;
    margin-right: 40px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 634px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 664px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 107px;
  margin-bottom: 49px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 352px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 152px;
  height: 152px;
  margin: 0 164px 0 30px;
}

.u-section-2 .u-image-1 {
  width: 152px;
  height: 152px;
  background-image: url("images/sh_166461322909413.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 90px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 56px 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 12px 30px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 30px 0 0 60px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-2 {
  width: 152px;
  height: 152px;
  margin: 0 164px 0 30px;
}

.u-section-2 .u-image-2 {
  width: 152px;
  height: 152px;
  background-image: url("images/sh_1664883702950.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 90px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 56px 30px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 12px 30px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 30px 0 0 60px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-shape-3 {
  width: 152px;
  height: 152px;
  margin: 0 164px 0 30px;
}

.u-section-2 .u-image-3 {
  width: 152px;
  height: 152px;
  background-image: url("images/sh_1664454170073.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px auto 0 90px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 56px 30px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 12px 30px 0;
}

.u-section-2 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 30px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 692px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 280px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 280px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 280px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 154px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 214px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 154px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 214px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 154px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 63px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -173px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 63px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -173px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 48px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 63px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -173px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 48px;
  }
} .u-section-3 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  width: 898px;
  margin: 67px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1105px;
  margin: 73px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 366px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664648817904.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px -37px 0 97px;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664650308566.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px -37px 0 97px;
}

.u-section-3 .u-text-6 {
  width: 898px;
  margin: 50px auto 0;
}

.u-section-3 .u-list-2 {
  width: 1105px;
  margin: 41px auto 50px;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 366px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-3 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664661536363.jpg");
  background-position: 50% 50%;
  margin: 38px auto 0;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 20px -5px 0 auto;
}

.u-section-3 .u-list-item-4 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664625431121.jpg");
  background-position: 50% 50%;
  margin: 38px auto 0;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 20px -5px 0 auto;
}

.u-section-3 .u-list-item-5 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-5 {
  width: 155px;
  height: 155px;
  background-image: url("images/abhikarshbhiaya.jpg");
  background-position: 50% 50%;
  margin: 38px auto 0;
}

.u-section-3 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 20px -5px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 310px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    width: 940px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-3 .u-text-6 {
    width: 720px;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 755px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    width: 540px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-4 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-4 .u-text-1 {
  width: 898px;
  font-size: 2.25rem;
  margin: 90px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1113px;
  height: auto;
  margin: 51px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 1158px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-4 .u-image-1 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664616583139.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 16px;
}

.u-section-4 .u-image-2 {
  width: 155px;
  height: 155px;
  background-image: url("images/agritishrivastava.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 16px;
}

.u-section-4 .u-image-3 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664452391437.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-4 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 16px;
}

.u-section-4 .u-image-4 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664454668021.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-5 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 16px;
}

.u-section-4 .u-image-5 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1665069897068.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-6 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 16px;
}

.u-section-4 .u-image-6 {
  width: 155px;
  height: 155px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-13 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-7 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 16px;
}

.u-section-4 .u-image-7 {
  width: 155px;
  height: 155px;
  background-image: url("images/sh_1664677622709.png");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-15 {
  margin: 28px 7px 0 21px;
}

.u-section-4 .u-list-item-8 {
  background-image: linear-gradient(#2cccc4, #72efe9);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 16px;
}

.u-section-4 .u-image-8 {
  width: 155px;
  height: 155px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-4 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-4 .u-text-17 {
  margin: 28px 7px 0 21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 978px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1530px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: linear-gradient(#f2f2f2, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 628px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 509px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-5 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-1 {
  margin: 20px 30px 0;
}

.u-section-5 .u-text-2 {
  margin: 2px 99px 0 -39px;
}

.u-section-5 .u-text-3 {
  margin: 23px 30px 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 21px 0;
}

.u-section-5 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-5 .u-text-5 {
  margin: 2px 99px 0 -39px;
}

.u-section-5 .u-text-6 {
  margin: 23px 30px 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-5 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-7 {
  margin: 20px 30px 0;
}

.u-section-5 .u-text-8 {
  margin: 2px 99px 0 -39px;
}

.u-section-5 .u-text-9 {
  margin: 23px 30px 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 21px 0;
}

.u-section-5 .u-image-4 {
  height: 360px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-10 {
  margin: 20px 30px 0;
}

.u-section-5 .u-text-11 {
  margin: 2px 99px 0 -39px;
}

.u-section-5 .u-text-12 {
  margin: 23px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 417px;
  }

  .u-section-5 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-image-1 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-image-2 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-image-3 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-4 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-image-4 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1311px;
  }

  .u-section-5 .u-image-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 683px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 683px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 683px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 683px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-sheet-1 {
  min-height: 605px;
}

.u-section-6 .u-text-1 {
  width: 898px;
  font-size: 2.25rem;
  margin: 49px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1113px;
  margin: 51px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 188px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: linear-gradient(#2cccc4, #72efe9);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 155px;
  height: 155px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: linear-gradient(#2cccc4, #72efe9);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 155px;
  height: 155px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: linear-gradient(#2cccc4, #72efe9);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 155px;
  height: 155px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-7 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-7 .u-sheet-1 {
  min-height: 603px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1103px;
  margin: 86px 0 60px auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 244px;
  grid-gap: 10px 10px;
}

.u-section-7 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-shape-1 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 31px;
}

.u-section-7 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/manasagarwal.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 74px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 11px auto 0 81px;
}

.u-section-7 .u-text-4 {
  margin: 8px 0 0 auto;
}

.u-section-7 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-shape-2 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 31px;
}

.u-section-7 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/sh_1664867283833.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 74px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 11px auto 0 81px;
}

.u-section-7 .u-text-7 {
  margin: 8px 0 0 auto;
}

.u-section-7 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-shape-3 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 10px auto 0 31px;
}

.u-section-7 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/sh_1664688245070.jpg");
  background-position: 50% 50%;
  margin: -135px auto 0 74px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 45px auto 0;
}

.u-section-7 .u-text-9 {
  margin: 11px auto 0 81px;
}

.u-section-7 .u-text-10 {
  margin: 8px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
    margin-bottom: -164px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 504px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 80px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 123px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-7 .u-shape-2 {
    margin-left: 80px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 123px;
  }

  .u-section-7 .u-shape-3 {
    margin-left: 80px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 96px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 738px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 179px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 222px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-shape-2 {
    margin-left: 179px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 222px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-shape-3 {
    margin-left: 179px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 939px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 79px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 122px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-right: -13px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-2 {
    margin-left: 79px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 122px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: -13px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-3 {
    margin-left: 79px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 122px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 13px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 9px;
    margin-right: -13px;
  }
} .u-section-8 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-8 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-8 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 39px 0 13px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 900px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-8 .u-image-1 {
  width: 202px;
  height: 202px;
  object-position: 50% 100%;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 13px;
}

.u-section-8 .u-group-1 {
  width: 268px;
  min-height: 202px;
  height: auto;
  margin: -202px 0 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 8px 25px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-3 {
  font-style: normal;
  margin: 53px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 18px;
}

.u-section-8 .u-image-2 {
  width: 202px;
  height: 202px;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 13px;
}

.u-section-8 .u-group-2 {
  width: 268px;
  min-height: 202px;
  height: auto;
  margin: -202px 0 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 0 8px 25px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-5 {
  font-style: normal;
  margin: 53px 0 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 18px;
}

.u-section-8 .u-image-3 {
  width: 202px;
  height: 202px;
  background-image: url("images/sh_1664633838388.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 13px;
}

.u-section-8 .u-group-3 {
  width: 268px;
  min-height: 202px;
  height: auto;
  margin: -202px 0 0 auto;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 0 8px 25px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-7 {
  font-style: normal;
  margin: 53px 0 0;
}

.u-section-8 .u-container-layout-7 {
  padding: 0 18px;
}

.u-section-8 .u-image-4 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_16647422698621.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 13px;
}

.u-section-8 .u-group-4 {
  width: 268px;
  min-height: 202px;
  height: auto;
  margin: -202px 0 0 auto;
}

.u-section-8 .u-container-layout-8 {
  padding: 0 0 8px 25px;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-9 {
  font-style: normal;
  margin: 53px 0 0;
}

.u-section-8 .u-container-layout-9 {
  padding: 0 18px;
}

.u-section-8 .u-image-5 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 13px;
}

.u-section-8 .u-group-5 {
  width: 268px;
  min-height: 202px;
  height: auto;
  margin: -202px 0 0 auto;
}

.u-section-8 .u-container-layout-10 {
  padding: 0 0 8px 25px;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-11 {
  font-style: normal;
  margin: 53px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 742px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-5 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-10 {
    padding-left: 10px;
  }
} .u-section-9 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-9 .u-sheet-1 {
  min-height: 1380px;
}

.u-section-9 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 37px 0 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 1200px;
  grid-gap: 0px 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-9 .u-image-1 {
  width: 202px;
  height: 202px;
  object-position: 50% 100%;
  background-image: url("images/sh_1664649333885.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-1 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-9 .u-image-2 {
  width: 202px;
  height: 202px;
  background-image: url("images/sh_1664681858742.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-2 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-5 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-5 {
  padding: 0 7px;
}

.u-section-9 .u-image-3 {
  width: 202px;
  height: 202px;
  background-image: url("images/sh_1664686705801.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-3 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 0;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-7 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-7 {
  padding: 0 7px;
}

.u-section-9 .u-image-4 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_1664650160554.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-4 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-8 {
  padding: 0;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-9 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-9 {
  padding: 0 7px;
}

.u-section-9 .u-image-5 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/weewwe.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-5 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-10 {
  padding: 0;
}

.u-section-9 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-11 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-11 {
  padding: 0 7px;
}

.u-section-9 .u-image-6 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_16646142727951.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-6 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-12 {
  padding: 0;
}

.u-section-9 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-13 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-13 {
  padding: 0 7px;
}

.u-section-9 .u-image-7 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_1664617158957.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-7 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-14 {
  padding: 0;
}

.u-section-9 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-15 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-15 {
  padding: 0 7px;
}

.u-section-9 .u-image-8 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_1664861045663.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-8 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-16 {
  padding: 0;
}

.u-section-9 .u-text-16 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-17 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

.u-section-9 .u-container-layout-17 {
  padding: 0 7px;
}

.u-section-9 .u-image-9 {
  width: 202px;
  height: 202px;
  object-position: 100% 50%;
  background-image: url("images/sh_1664678073722.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 23px;
}

.u-section-9 .u-group-9 {
  width: 286px;
  min-height: 203px;
  height: auto;
  margin: -195px 8px 0 auto;
}

.u-section-9 .u-container-layout-18 {
  padding: 0;
}

.u-section-9 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-19 {
  font-style: normal;
  margin: 20px 0 0 25px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 989px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-5 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-6 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-7 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-8 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-9 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}